# ==========================================
# 1. Fichiers compilés (Ne JAMAIS partager)
# ==========================================
target/
out/
*.class

src/main/java/Serveur/stopword.txt

# ==========================================
# 2. Configuration IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr

# ==========================================
# 3. Fichiers systèmes (Windows / Mac)
# ==========================================
.DS_Store
Thumbs.db

journal.csv
downloads/

# ==========================================
# 2. Configuration vscode
# ==========================================
.vscode/